body{
    background-color: rgba(253, 238, 255, 0.836);
}
 
.nameheading{
    font-size: 30px;
    font-weight: bold;
    margin-left: 300px;
    font-style: times ;
    padding: 0px;
    border: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.profession{
    font-size: 15px;
    font-weight: bold;
    margin-left:297px;
    font-style: times ;
    padding: 0px;
    border: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    height: 30px;
    margin-top: -30px;
} 

.contact{
    font-size: 15px;
    padding: 0px;
    margin-bottom: 10px;
    margin-top: -30px;
    font-weight: bold;
    margin-left: 60px;
}

.image{
    height: 300px;
    width: 300px;
    border-radius: 200px;
    padding: 0px;
    margin-left: 320px;
    margin-right: 30px;
    margin-top: 50px;
    
}
.hello{
    font-size: 60px;
    font-style: lighter;
    font-weight: lighter;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 35px;
    width: 10px;
    padding: 0px;
    
}
.aboutme{
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
    padding: 0px;
}

.myresume{
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin-left: 0px;
    margin-right: 200px;
    margin-top: 10px;
    padding: 0px;
    height: 110px;
    width: 110px;
    margin-bottom: 50px;
    line-height: 120px;
    border-radius: 150px;
    background-color: rgb(245, 46, 89) ; 
    color: white; 
 }

.mywork{
    font-size: 12px;
    font-weight: bold;
    margin-top: -160px;
    margin-bottom: 20px;
    margin-left: 125px;
    padding:0px;
    height: 110px;
    width: 110px;
    border-radius: 150px;
    background-color: rgb(46, 245, 235) ;
    line-height: 120px;
    text-align: center;
    color: white;
 
}

.myskills{
    font-size: 12px;
    font-weight: bold;
    margin-top: -131px;
    margin-bottom: 50px;
    margin-left: 250px;
    padding:0px;
    width: 110px;
    height: 110px;
    width: 110px;
    border-radius: 150px;
    background-color: rgb(201, 245, 43) ;
    line-height:120px;
    text-align: center;
    color: white;   
}

.text{
    font-size: 10px;
    font-weight: lighter;
    margin-top: -30px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding: 0px;
    width: 360px;
    text-align: left;
}

.taskbar{
    background: rgb(245, 46, 89);
    margin-top: 0px;
    color: white;
}    


.call{
    font-size: 15px;
    font-weight: bold;
    padding-right: 0px;
    width: 40px;
    margin-top: 20px;
    margin-left: 300px;   
}

.call1{
    max-width: 50px;
    padding-left: 40px;
    margin-top: -100px;
    margin-bottom: 100px;
    margin-left: 200px;
    border: 0px;
    padding-top: 20px;
}

.pnumber{
    font-size: 13px;
    font-weight: normal;
    margin-top: -10px;
    margin-left: 300px;
}

.tnumber{
    font-size: 13px;
    font-weight: normal;
    margin-top: -9px ;
    margin-left: 300px;
}

.contact1{
    font-size: 15px;
    font-weight: bold;
    width: 70px ;
    margin-left: 86px;
}

.message{
    height: 50px;
    width: 50px;
    padding-left: 30px;
    margin-top: -100px;
    margin-bottom: 100px;
    margin-left: 0px;
    padding-top: 37px;
}

.email{
    font-size: 13px;
    font-weight: normal;
    margin-top: -10px;
    margin-left: 86px;
}

.follow{
    font-size: 15px;
    font-weight: bold;
    width: 85px;
    margin-top: -65px;
    margin-bottom: 0px;
    margin-left: 86px;
}

.plus{
    height: 50px;
    width: 50px;
    padding-left: 30px;
    margin-top: -100px;
    margin-bottom: 10px;
    margin-left: 0px;
    padding-top: 0px;
}

.facebook{
    font-size: 13px;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 86px;
    width: 120px;   
}

.rider{
    font-size: 15px;
    font-weight: bold;
    width: 500px;
    margin-top: -65px;
    margin-bottom: 0px;
    margin-left: 86px;
}
.copy{
    height: 50px;
    width: 50px;
    padding-left: 30px;
    margin-top: -90px;
    margin-bottom: 22px;
    margin-left: 0px;
    padding-top: 0px;
}

.manoj{
    font-size: 13px;
    font-weight: normal;
    margin-top: 5px ;
    margin-left: 86px;
}