body {
    background-color: #eaf6f6;
  }
  
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: lightgray;
    border-width: 5px;
    width: 10%;
}
  
img {
    width: 240px;
}

h1{
    color: #66bfbf;

}

h3{
    color: #66bfbf;
}
ol{
    font-size: 25px;
}